body {
    background-color:pink;
    justify-content: center;
    align-items: center;
}

#message {
    margin: auto;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: "Gill Sans", "Arial", "Verdana";
    color: white;
    --stroke-color-one:black;
    --stroke-width-one: 2px;
    text-shadow: calc(var(--stroke-width-one) * 1) calc(var(--stroke-width-one) * 0) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.9239) calc(var(--stroke-width-one) * 0.3827) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.7071) calc(var(--stroke-width-one) * 0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.3827) calc(var(--stroke-width-one) * 0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0) calc(var(--stroke-width-one) * 1) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.3827) calc(var(--stroke-width-one) * 0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.7071) calc(var(--stroke-width-one) * 0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.9239) calc(var(--stroke-width-one) * 0.3827) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -1) calc(var(--stroke-width-one) * 0) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.9239) calc(var(--stroke-width-one) * -0.3827) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.7071) calc(var(--stroke-width-one) * -0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.3827) calc(var(--stroke-width-one) * -0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0) calc(var(--stroke-width-one) * -1) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.3827) calc(var(--stroke-width-one) * -0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.7071) calc(var(--stroke-width-one) * -0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.9239) calc(var(--stroke-width-one) * -0.3827) 0
      var(--stroke-color-one);
}

#title {
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Arial', 'Verdana';
    padding: 10px;
    color: red;
    z-index: 0;
    --stroke-color-one:white;
    --stroke-width-one: 2px;
    --stroke-color-two:black;
    --stroke-width-two: 4px;
    text-shadow: calc(var(--stroke-width-one) * 1) calc(var(--stroke-width-one) * 0) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.9239) calc(var(--stroke-width-one) * 0.3827) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.7071) calc(var(--stroke-width-one) * 0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.3827) calc(var(--stroke-width-one) * 0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0) calc(var(--stroke-width-one) * 1) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.3827) calc(var(--stroke-width-one) * 0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.7071) calc(var(--stroke-width-one) * 0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.9239) calc(var(--stroke-width-one) * 0.3827) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -1) calc(var(--stroke-width-one) * 0) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.9239) calc(var(--stroke-width-one) * -0.3827) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.7071) calc(var(--stroke-width-one) * -0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.3827) calc(var(--stroke-width-one) * -0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0) calc(var(--stroke-width-one) * -1) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.3827) calc(var(--stroke-width-one) * -0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.7071) calc(var(--stroke-width-one) * -0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.9239) calc(var(--stroke-width-one) * -0.3827) 0
      var(--stroke-color-one), 
    calc(var(--stroke-width-two) * 1) calc(var(--stroke-width-two) * 0) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * 0.9239) calc(var(--stroke-width-two) * 0.3827) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * 0.7071) calc(var(--stroke-width-two) * 0.7071) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * 0.3827) calc(var(--stroke-width-two) * 0.9239) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * 0) calc(var(--stroke-width-two) * 1) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * -0.3827) calc(var(--stroke-width-two) * 0.9239) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * -0.7071) calc(var(--stroke-width-two) * 0.7071) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * -0.9239) calc(var(--stroke-width-two) * 0.3827) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * -1) calc(var(--stroke-width-two) * 0) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * -0.9239) calc(var(--stroke-width-two) * -0.3827) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * -0.7071) calc(var(--stroke-width-two) * -0.7071) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * -0.3827) calc(var(--stroke-width-two) * -0.9239) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * 0) calc(var(--stroke-width-two) * -1) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * 0.3827) calc(var(--stroke-width-two) * -0.9239) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * 0.7071) calc(var(--stroke-width-two) * -0.7071) 0
      var(--stroke-color-two),
    calc(var(--stroke-width-two) * 0.9239) calc(var(--stroke-width-two) * -0.3827) 0
      var(--stroke-color-two);
}

svg {
    display: block;
    margin: auto;
}

path {
    fill: red;
    stroke: black;
    stroke-width:4px;
    transition: ease;
    transition-duration: 0.25s;
    text-decoration: none;
}

path:hover {
    fill: #b60000;
}

path:active {
    transition-duration: 0.1s;
    fill: #970000;
    transform: scale(0.9) translate(5%, 5%);
    font-size: 40px;
}

#buttonText {
    text-decoration: none;
    transition-duration: 0.25s;
    font-family: 'Gill Sans', 'Arial', 'Verdana';
    font-size: 40px;
    fill: white;
    --stroke-color-one:black;
    --stroke-width-one: 4px;
    text-shadow: calc(var(--stroke-width-one) * 1) calc(var(--stroke-width-one) * 0) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.9239) calc(var(--stroke-width-one) * 0.3827) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.7071) calc(var(--stroke-width-one) * 0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.3827) calc(var(--stroke-width-one) * 0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0) calc(var(--stroke-width-one) * 1) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.3827) calc(var(--stroke-width-one) * 0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.7071) calc(var(--stroke-width-one) * 0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.9239) calc(var(--stroke-width-one) * 0.3827) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -1) calc(var(--stroke-width-one) * 0) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.9239) calc(var(--stroke-width-one) * -0.3827) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.7071) calc(var(--stroke-width-one) * -0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * -0.3827) calc(var(--stroke-width-one) * -0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0) calc(var(--stroke-width-one) * -1) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.3827) calc(var(--stroke-width-one) * -0.9239) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.7071) calc(var(--stroke-width-one) * -0.7071) 0
      var(--stroke-color-one),
    calc(var(--stroke-width-one) * 0.9239) calc(var(--stroke-width-one) * -0.3827) 0
      var(--stroke-color-one);
}


